<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         strict="false"
         verbose="false">
	<testsuites>
		<testsuite name="RestPHP">
			<directory suffix=".php">./</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-html" target="../build/coverage"
			title="MBS" charset="UTF-8"
			yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
		<log type="coverage-clover" target="../build/logs/clover.xml"/>
		<log type="junit" target="../build/logs/junit.xml"
			logIncompleteSkipped="false"/>
	</logging>
</phpunit>
